* {
    margin:0;
    padding:0;
    width:100%;
    z-index:0;
}

/* Login */
.header{
    border-radius: 30px;
    background-color: #f0f0f0;
    filter: drop-shadow(0 0 1px white);
    position: fixed;
    display: inline-flex;
    float: top;
    top: 0;
    width: 87vw;
    margin: 0.9rem;
    height: 5vw;
    background: linear-gradient(to right, rgb(28, 42, 76), rgb(110, 135, 189));
    margin-left: 6.5vw;
    z-index:1;
}
.header div{
    display: inline-flex;
    margin-left: 50%;
    width:200vw;
    padding-top: 1.5vw;
}
.header div a{
    color:white;
    margin-left:5%;
    font-size: 1.5vw;
}
.header-image {
    width: 45%;
    height: 100%;
    margin-left: 9%;
}
.header-link {
    color: white;
    text-decoration: none;
    font-size: 0.75vw;
    margin-left: 5%;
}
.header-hover:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.1);
}
.Login{
    max-height: 100vw;
    background: linear-gradient(to right, rgb(28, 42, 76), rgb(110, 135, 189));
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-around;
    margin: 20vh auto;
}
.form-border{
    max-height: 80vw;
    background: white;
    width: 40vw;
    display: inline;
    float: left;
    height: 32vw;
    border-radius: 30px;
    margin-top: 4vw;
    padding: 0%;
    opacity: 0.8;
}
.login-image {
    width: 50vw;

    display: inline;
    float: right;
}
.form-border form{
    border-radius: 30px;
    position: flex;
    background-color: whitesmoke;
    height: 30vw;
    padding: 0%;
}
.form-border input{
    box-sizing: border-box;
    padding: 0 20px;
    background-color: whitesmoke;
    color: black;
    margin: 1.4vw ;
    height: 4vw;
    border-radius: 50px;
    width: 80%;
    margin-left: 4.5vw;
    transition: background-color 0.2s ease;
}
.form-border input:hover{
    background-color: #c0c0c0;
}
.login-form-fields{
    padding-top: 6%;
    height: 28vh;
}

.form-border #login-uname-input{
    margin-top: 1.5vw;
}
.form-border #button-sign-up{
    background-color: lightgray;
    border-radius: 0%;
    border-top-right-radius: 30px;
    height: 4vw;
    width: 50%;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    padding:0;
    color: black;
    font-size: 1.5vw;
}
.form-border #button-sign-up:hover{
    background-color: rgb(188, 188, 193);
    transition: 1s;
    border:none;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}
.form-border #button-sign-in{
    background-color: lightgray;
    border-radius: 0%;
    border-top-left-radius: 30px;
    height: 4vw;
    width: 50%;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    padding:0;
    color: black;
    font-size: 1.5vw;
}
.form-border #button-sign-in:hover{
    background-color: rgb(188, 188, 193);
    transition: 1s;
    border:none;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}
.form-border #button-confirm{
    display: block;
    margin: 0 auto;
    background-color: lightgray;
    color: black;
    border-radius: 50px;
    border: 1px ridge black;
    height: 4vw;
    width: 10vw;
    font-size: 1.5vw;
    transition: background-color 0.2s ease;
}
#button-confirm:hover {
    background-color: grey;
    color: black;
}

.OAuth {
    display: flex;
    flex-direction: row;
    position: relative;;
    padding-top: 1.25vw;
    justify-content: space-evenly;
}
.OAuth a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4vw;
    width: 4vw;
    text-align: center;
    padding: 0;
    border-radius: 150px;
    background-color: white;
    transition: background-color 0.2s ease;
    border: black 1px solid;
}

.form-border hr{
    margin-top:1vw;
}

.OAuth a:hover {
    background-color: grey;
    color: black;
}

/* Patient Form */
.Form {
    background-image: url("C:\Users\Amrit pal singh\OneDrive\Desktop\SCM Clone\La-Hospital_G1\src\assets\team.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: '100%';
    height: '100rem';
    margin:0;
    padding:0;
}

.Form-on-image {
    height: 100vh;
    padding-top: 70vh;
    padding-left: 35vw;
    width: 17vw;
}
.Form-on-image form{
    padding: 7.5%;
    background-color: white;
    height: 50vh;
    width: 30vw;
    border-radius: 50px;
    opacity: 0.85;
}
.Form-on-image form input{
    margin-bottom: 5vh;
    height: 3.5vh;
    border-radius: 50px;
}
.Form-on-image form select{
    margin-bottom: 5vh;
    height: 3.5vh;
    border-radius: 50px;
}

.Form-on-image form b{
    color: black;
}

/* .Form{
    width: 100%;
    height: 300px;
  background-image: url('../../assets/team.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
/* .Form img{
    margin-left: 12vh;
    margin-top: 12vh;
    width: 90%;


} */
/* .Form-on-image{
    background-color: rgba(128, 128, 128, 0.4);
    width: 100%;
} */