* {
    margin:0;
    padding:0;
    width:100%;
    z-index:0;
}



/* Login */
.header{
    border-radius: 30px;
    background-color: #f0f0f0;
    filter: drop-shadow(0 0 1px white);
    position: fixed;
    display: inline-flex;
    float: top;
    top: 0;
    width: 87vw;
    margin: 0.9rem;
    height: 5vw;
    background: linear-gradient(to right, rgb(28, 42, 76), rgb(110, 135, 189));
    margin-left: 5.6rem;
    z-index:1;
}
.header p{
    margin-top: 0% ;
    display: inline-block;
    font-size: 2rem;
    height: 60vh;
    width: 256vw;
}
.header div{
    display: inline-flex;
    margin-left: 50%;
    width:200vw;
    padding-top: 3vh;
}
.header div a{
    color:white;
    margin-left:5%;
}
.header img{
    width: 20%;
    height: 20%;
    margin-top: -1.3%;
    margin-left: 9%;
    
}
.Login{
    max-height: 100vh;
    background: linear-gradient(to right, rgb(28, 42, 76), rgb(110, 135, 189));
    width: 87vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.9rem;
    height: 80vh;
    margin-left: 5.6rem;
    border-radius: 30px;
    margin-top: 7vw;
}
.form-border{
    max-height: 80vh;
    background: white;
    width: 30vw;
    display: inline-block;
    margin: 0.9rem;
    height: 64.5vh;
    margin-left: 4.6rem;
    border-radius: 30px;
    margin-top: 4vw;
    padding: 0%;
    opacity: 0.8;
}
.form-border form{
    border-radius: 30px;
    position: flex;
    background-color: whitesmoke;
    height: 100%;
    max-height: 64.5vh;
    padding: 0%;
}
.form-border input{
    background-color: whitesmoke;
    margin: 1.4vw ;
    height:2vw;
    border-radius: 50px;
    width: 20vw;
    margin-left: 4.5vw;
}
.form-border #login-uname-input{
    margin-top: 3vw;
}
.form-border #button-sign-up{
    background-color: lightgray;
    border-radius: 0%;
    border-top-right-radius: 30px;
    height: 6vh;
    width: 50%;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    padding:0;
    color: black;
}
.form-border #button-sign-up:hover{
    background-color: rgb(188, 188, 193);
    transition: 1s;
    border:none;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}
.form-border #button-sign-in{
    background-color: lightgray;
    border-radius: 0%;
    border-top-left-radius: 30px;
    height: 6vh;
    width: 50%;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    padding:0;
    color: black;
}
.form-border #button-sign-in:hover{
    background-color: rgb(188, 188, 193);
    transition: 1s;
    border:none;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}
.form-border #button-confirm{
    margin-left: 35%;
    margin-top:1vh;
    background-color: lightgray;
    color: black;
    border-radius: 50px;
    border: 1px ridge black;
    width: 9vw;
}

.OAuth {
    display: inline-flex;
    padding-top: 3vh;
}
.OAuth a {
    height: 8vh;
    margin-left: 4.3vw;
    width: 4vw;
    border-radius: 150px;
    background-color: white;
    border: black 1px solid;
}


/* Patient Form */
.Form {
    background-image: url("C:\Users\Amrit pal singh\OneDrive\Desktop\SCM Clone\La-Hospital_G1\src\assets\team.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: '100%';
    height: '100rem';
    margin:0;
    padding:0;
}
.form-border hr{
    margin-top:4vh;
}
.Form-on-image {
    height: 100vh;
    padding-top: 70vh;
    padding-left: 35vw;
    width: 17vw;
}
.Form-on-image form{
    padding: 7.5%;
    background-color: white;
    height: 50vh;
    width: 30vw;
    border-radius: 50px;
    opacity: 0.85;
}
.Form-on-image form b{}
.Form-on-image form input{
    margin-bottom: 5vh;
    height: 3.5vh;
    border-radius: 50px;
}
.Form-on-image form select{
    margin-bottom: 5vh;
    height: 3.5vh;
    border-radius: 50px;
}

.Form-on-image form b{
    color: black;
}

/* .Form{
    width: 100%;
    height: 300px;            
  background-image: url('../../assets/team.jpg');  
  background-size: cover;   
  background-position: center; 
  background-repeat: no-repeat; 
} */
/* .Form img{
    margin-left: 12vh;
    margin-top: 12vh;
    width: 90%;
    
    
} */
/* .Form-on-image{
    background-color: rgba(128, 128, 128, 0.4);
    width: 100%;
} */